body{
	background:	#68cdd5;
	margin:0px;
	font-family:"微软雅黑",Verdana,Helvetica,"Dorid sans",sans-serif;
	font-size:20px;
	color:white;
	}
.header{
	width:203px;
	margin:0 auto;
	padding:5% 0;
	}
.content{
	margin:0 auto;
	padding:10% 0;
	font-size:1.2rem;
	width:80%;
}
.footer{
	width:80%;
	margin:0 auto;
	padding:20% 0 30% 0;
	}
.backspace{
	margin-left:1%;
	margin-top:1%;
}
.left{
	float:left;
	text-align:center;
}
.right{
	float:right;
	text-align:center;
}
.clear{
	clear:both;
}
