body{
	background:	#68cdd5;
	margin:0px;
	font-family:"微软雅黑",Verdana,Helvetica,"Dorid sans",sans-serif;
	font-size:20px;
	color:white;
	}
.header{
	width:150px;
	margin:0 auto;
	padding:5% 0;
	}
.content{
	margin:0 auto;
	padding:10% 0;
	font-size:1.2rem;
	max-width:75%;
}
.footer{
	max-width:80%;;
	margin:0 auto;
	padding:20% 0 30% 0;
	font-size:1.2rem;
	}
.backspace{
	margin-left:3%;
	margin-top:3%;
}
.left{
	float:left;
	text-align:center;
}
.right{
	float:right;
	text-align:center;
}
.clear{
	clear:both;
}
