
html{
	background:	#68cdd5;
	margin:0px;
	font-family:"微软雅黑",Verdana,Helvetica,"Dorid sans",sans-serif;
	font-size:16px;
	color:white;
	}

@media only screen and (min-height:667px)
{html 
{font-size:25px;}
}
@media only screen and (min-height:1005px)
{html 
{font-size:40px;}
}
.header{
	width:150px;
	margin:0 auto;
	padding:1.5rem 0;
	}
.content{
	margin:3rem auto 0 auto;
	padding:0 2rem 0 2rem;
	font-size:0.8rem;
	max-width:35rem;
}
.footer{
	max-width:35rem;
	margin:7rem auto 0 auto;
	font-size:0.8rem;
	padding:0 2rem 0 2rem;
	}
.backspace{
	margin-left:0.5rem;
	margin-top:0.5rem;
}
.left{
	float:left;
	text-align:center;
}
.right{
	float:right;
	text-align:center;
}
.clear{
	clear:both;
}
