html{
	font-size:16px;	
	font-family:serif;
	font-weight:bold;
	color:white;
	height:100%;
	}
body{
	height:100%;
	margin:0;
}
header{
	width:100%;
	height:3rem;
	position:fixed;	
	top:0;
	left:0;
	background:#5fc0cd;
	}
.login{
	float:left;
	margin-left:1rem;
}
.close{
	float:right;
	margin-right:1rem;
}
.close,.login{
	font-size:1rem;
	line-height:3rem;
}
.register{
	line-height:3rem;
	font-size:1.125rem;
	text-align:center;
	margin:0 4rem;
}

	
	