html,body{
	font-size:16px;	
	font-family:serif;
	font-weight:bold;
	color:white;
	margin:0;
	height:100%;
	}
header{
	height:3rem;
	position:fixed;
	top:0;
	left:0;
	right:0;
	background:#5fc0cd;
	padding:0 3rem;
	}
.login,.register,.close{
	float:left;
	line-height:3rem;
}
.register{
	font-size:1.12rem;
	width:100%;
	text-align:center;	
}
.login{
	width:3rem;
	margin-left:-100%;
	position:relative;
	left:-2rem;
}
.close{
	width:3rem;
	margin-left:-3rem;
	position:relative;
	right:-3rem;
}
