$a-color: #fff;
$background-color: #5fc0cd;
$border-color: #eaedee;
$font-size: 1.2rem;
@mixin a{
	color: $a-color;
	text-decoration: none;
	font-size: $font-size+0.2rem;
}
@mixin pic{
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	width: 3rem;
	padding-right: 1rem;
	margin: 1rem 0;
	border-right: 1px solid $border-color;
}
@mixin flex($main-row, $row){
	display: flex;
	justify-content: $main-row;
	align-items: $row;
}
@mixin button($top,$button-background,$button-width,$button-height,$button-color){
	margin-top: $top;
	outline: none;
	border: 0;
	background: $button-background;
	width: $button-width;
	height: $button-height;
	font-size: $font-size+0.2rem;
	color: $button-color;
}
body{
	background: #eff0f4;
}
header{
	@include flex(space-between,center);
	height: 4rem;
	background: $background-color;
	a{
		@include a;
		&:hover{
			@include a;
		}
		&:active{
			@include a;
		}
		&:visited{
			@include a;
		}
	}
}
.left{
	margin-left: 1rem;
	font-size: $font-size;
}
.right{
	margin-right: 1rem;
	font-size: $font-size;
}
.input{
	position: relative;
	width: 100%;
	margin-top: 1rem;
	background: $a-color;
}
input{
	padding-left: 4rem;
	width: 100%;
	height: 4rem;
	outline: none;
}
.mobile-pic{
	@include pic;
	background: url(iphone.png) no-repeat center;
}
.locked-pic{
	@include pic;
	background: url(locked.png) no-repeat center;
}
footer{
	button{
		@include button(1rem,$background-color,100%,4rem,$a-color);
	}
	a{
		float: right;
		margin: 1rem 0.5rem 0 0;
		font-size: $font-size - 0.2rem;
		color: $background-color;
	}
}