footer{
	@include flex(row,nowrap,flex-start,stretch);
	padding: 20px 40px;
	font-size: 14px;
	color: #fff;
	background: $color-green;
	a{
		text-decoration: none;
		color: #fff;
		padding: 5px 0;
		&:hover{
			text-decoration: none;
			color: #fff;
			border-bottom: 1px solid #fff;
		}
	}
}
.about-us,
.our-web{
	@include flex(column,nowrap,space-between,flex-start);
	padding-right: 40px;
}
.we-chat-pic{
	@include flex(column,wrap,flex-start,flex-end);
	span{
		margin-right: 5px;
	}
}
.copyright{
	font-size: 12px;
	color: #fff;
	text-align: center;
	background: $color-green;
}
@media (max-width: 992px){
	footer{
		flex-flow: wrap;
	}
	.our-web,
	.about-us{
		width: $xxs;
	}
	.we-chat-pic{
		width: $xxs;
		align-items: flex-start;
	}
}
@media (max-width: 768px){
	footer{
		flex-flow: wrap;
	}
	.our-web,
	.about-us{
		width: $xxs;
	}
	.we-chat-pic{
		width: $xxs;
		align-items: flex-start;
	}
}
@media (min-width: 992px){
	.our-web,
	.about-us{
		width: 30%;
	}
	.we-chat-pic{
		width: 40%;
	}

}