.friend-link{
	@include flex(row,wrap,space-around,center);
	padding: 10px $gloab-pd-ver;
	font-size: 12px;
	background: #fff;
	ul{
		@include flex(row,nowrap,space-around,center);
		padding: 10px 0;
		.icon{
			border: 1px solid $color-gray;
			background: $color-gray;
		}
		a{
			text-decoration: none;
			color: $color-gray;
			&:hover{
				text-decoration: none;
			}
		}
		li{
			border: 1px solid #fff;
		}
		li:hover{
			border-bottom: 1px solid $color-green;
		}
	}
}
@media (max-width: 992px){
	.friend-link{
		ul{
			width: $xxs;
		}
	}
}
@media (max-width: 768px){
	.friend-link{
		ul{
			width: $xxs;
		}
	}
}
@media (min-width: 992px){
	.friend-link{
		ul{
			width: $xs;
		}
	}
}