.head-contact{
	@include flex(row,nowrap,space-between,center);
	padding: 3px 40px;
	font-size: 12px;
	color: $color-green;
	.contact{
		@include flex(row,nowrap,space-between,center);
		.icon{
			@include flex(row,nowrap,center,center);
		}
	}
}
.head-nav{
	padding: 0 40px;
	background: #29b078;
	ul{
		float: right;
		li{
			float: left;
			padding: 10px 20px;
			border: 2px solid #29b078;
			box-sizing: border-box;
			font-size: 20px;
			line-height: 20px;
			a{
				text-decoration: none;
				color: #fff;
			}
			&:hover{
				border-bottom: 2px solid #fff;
			} 
		}
	}
}