body{
	 margin-top: 4rem;
	 margin-bottom:1rem;
     background: #f0f0f0;
}
header{
	   position:fixed;
	   top: 0;
	   left: 0;
	   width: 100%;
	   height: 4rem;
	   background: #29bde0;
}
.icon-line{
			 margin-top: 1.25rem;
			 margin-left: 1rem;
			 height: 1.5rem;
			 width: 1.5rem;
			 border-top: 0.2rem solid white;
			 border-bottom: 0.2rem solid white;
}
.line1{
			width: 1.5rem;
			padding-top: 30%;
			border-bottom: 0.2rem solid white;
}
.pre-game{
		  margin: 1.5rem 0;
		  padding-top: 2rem;
		  padding-bottom: 2rem;
		  border: 0.1px solid #c9c9c9;
		  color: #9a9a9a;
		  font-size: 1.8rem;
		  background: white url(arc.png) no-repeat 95% 50%;
}
.lastgame{
			   text-align: center;
}
.game{
	  margin: 0;
	  padding-top: 1rem;
	  padding-bottom: 1rem;
	  border: 0.1px solid #c9c9c9;
	  border-bottom: 1px solid #fde1ad;
	  font-size: 1.8rem;
	  text-align: center;
	  color: #fbb435;
	  background: white;
}
.edition{
		 margin: 0;
	     padding-top: 1rem;
		 background: white;
		 text-align: center;
		 border: 0.1px solid #c9c9c9;
}
.edition a{
		   padding-top: 2rem;
		   padding-bottom: 2rem;
		   margin-bottom: 0.5rem;
		   margin-top: 0.5rem;
		   background: #69d1e9;
           text-decoration: none;
		   color: white;
}
a.moregame{
		   padding-top: 1.5rem;
		   padding-bottom: 1rem;
		   padding-left: 0.5rem;
		   background: white;
}
.number{
			  color: #9a9a9a;
}
.bottom-circle{
			   margin-top: 1rem;
}
.bottom-circle a{
		         display: inline-block;
	           	 margin: 0 0.2rem;
				 padding: 0.5rem;
		         border-radius: 50%;
		         background: #f0f0f0;
}
.bottom-circle .circle:hover{
					   background: #69d1e9;
}

