body{
	 margin: 0;
	 margin-top: 4rem;
	 margin-bottom: 7rem;
	 background: #29bde0;
}
header{
	   display: flex;
	   flex-flow: row wrap;
	   align-items: center;
	   justify-content: space-between;
	   position: fixed;
	   top: 0;
	   left: 0;
	   border-bottom: 0.01rem solid white;
	   height: 4rem;
	   background: #29bde0;
	   font-size: 2rem;
	   color: white;
	   width: 100%;
	   z-index: 1;
}
.icon-square{
			 display: flex;
			 flex-flow: column wrap;
			 justify-content: space-around;
			 align-items: center;
			 height: 2rem;
			 width:2rem;
			 padding-top: 0.1rem;
			 padding-bottom: 0.1rem;
			 margin-left: 1rem;
			 border: 1px solid white;
}
.line{
	  width: 1.5rem;
	  border: 1px solid white;
}
.icon-X{
		margin-right: 1rem;
}
.container-fluid{		
				padding: 0;
				background: #29bde0;
}
.row{
	 margin: 0;
}
.voice{
	  display: flex;
	  justify-content: space-around;
	  align-items: center;
	  padding-top: 1rem;
	  padding-bottom: 1rem;
	  background: #b9e9f5;
}
.small-arc{
			width: 0;
			height: 0;
			padding: 0;
			border: 1rem transparent solid;
			border-top: 1rem #b9e9f5 solid;
}
.click{
		padding: 0;
		color: white;
		margin-bottom: 1rem;
}
.head-picture{
			 display: flex;
			 flex-flow: row wrap;
			 margin:  0;
			 margin-bottom: 8.3333vw;
             justify-content: space-around;
}
.allsquare{
		display: flex;
		flex-flow: row wrap;
		padding: 0;
}
.square{
		display: flex;
		flex-flow: column wrap;
		width: 100%;
		height: 24.9999vw;
		border: 3px solid white;
}
.name,
.num{
	 display: flex;
	 justify-content: center;
	 align-items: center;
}
.person{
	  flex-grow:20;
	  background: #f5c97b;
	  font-size: 1.8rem;
}
.num{
	 flex-grow:1;
	 background: #83b09a;
	 font-size: 1.2rem;
	 color: white;
	 font-weight: 700;
}
.vote{
	 display: none;
}
.allsquare:hover .vote{
	  display: flex;
	  position: absolute;
	  bottom: -6.25vw;
	  justify-content: space-between;
	  padding: 0;
	  padding-top: 2.2vw;
	  margin: 0;
}
.vote-pic{
	  display: flex;
	  justify-content: center;
	  align-items: center;
	  height: 4.166vw;
	  padding: 0;
	  background: white;
}
img{
	max-width: 100%;
}
a:hover,
a:link,
a:active,
a:visited{
		  color: white;
		  text-decoration: none;
}
.audio-voice{
             display: flex;
		     width: 3rem;
		     height: 3rem;
		     justify-content: center;
		     align-items: center;
		     border-radius: 50%;
		     background: orange;
}			 
footer{
		display:flex;
		justify-content: space-around;
		align-items: center;
		position: fixed;
		bottom: 0;
		height: 6rem;
		width: 100%;
		font-size: 1.8rem;
		font-weight: 100;
		background: #29bde0;
}
.vote-a{
	     width: 60%;
		 padding: 1rem 1rem;
		 color: white;
		 text-align: center;
		 text-decoration: none;
		 background: #fbb435;
}