html {
  font-size: 10px; }

body {
  margin: 4rem 0; }

a {
  text-decoration: none;
  color: #000; }
  a:hover {
    text-decoration: none;
    color: #000; }
  a:visited {
    text-decoration: none;
    color: #000; }
  a:active {
    text-decoration: none;
    color: #000; }

header {
  position: fixed;
  top: 0;
  height: 4rem;
  width: 100%;
  background: #5fc0cd;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  font-size: 1.4rem;
  z-index: 2;
  color: #fff; }
  header .margin-left, header .no-margin {
    margin-left: -1.5rem;
    padding: 0.6rem 1rem;
    border-radius: 5px;
    width: auto;
    color: #5fc0cd;
    border: 1px solid #5fc0cd;
    background: #fff;
    cursor: pointer;
    outline: none;
    font-weight: 900; }
    header .margin-left:hover, header .no-margin:hover, header .margin-left:focus, header .no-margin:focus {
      color: #fff;
      background: #55a8b3; }
    header .margin-left:visited, header .no-margin:visited {
      color: #5fc0cd; }
  header .no-margin {
    margin-left: 0; }
  header .loc {
    position: absolute;
    right: 1rem;
    top: 50%;
    transform: translateY(-50%); }
  header .arc {
    position: absolute;
    left: 1rem;
    border: 1rem solid transparent;
    border-right: 1rem solid #fff;
    height: 0;
    width: 0; }
  header .arc::after {
    float: left;
    display: inline-block;
    content: "";
    border: 1rem solid transparent;
    border-right: 1rem solid #5fc0cd;
    margin-top: -1rem;
    margin-left: -0.9rem; }

footer {
  position: fixed;
  bottom: 0;
  height: 4rem;
  width: 100%;
  background: #f8fafb;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  font-size: 1.4rem; }
  footer button {
    padding: 0.6rem 1rem;
    border-radius: 5px;
    width: 30%;
    color: #5fc0cd;
    border: 1px solid #5fc0cd;
    background: #fff;
    cursor: pointer;
    outline: none;
    margin-left: 1rem; }
    footer button:hover, footer button:focus {
      color: #fff;
      background: #5fc0cd; }
  footer img {
    display: block;
    margin: 0 auto; }

.a-left {
  position: absolute;
  left: 25%; }
  .a-left span {
    color: #5fc0cd; }

.a-right {
  position: absolute;
  right: 25%; }

.background {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  padding: 3rem 0;
  background: url(background/background1.png) no-repeat;
  background-size: cover;
  font-size: 1.4rem;
  color: #fff; }
  .background .photo,
  .background .infor {
    display: inline-block;
    padding: 0 1rem; }
    .background .photo .icon,
    .background .infor .icon {
      display: inline-block;
      height: 1.3rem;
      width: 1.1rem;
      background: url(background/css_sprites.png) no-repeat -1rem -7rem;
      vertical-align: middle; }
    .background .photo img,
    .background .infor img {
      height: 10rem;
      width: 10rem; }

.line {
  position: relative;
  border-bottom: 1px solid #e1e5e7;
  padding: 1rem 0;
  line-height: 2;
  font-size: 1.4rem; }
  .line .icon {
    background: url(background/css_sprites.png) no-repeat -1rem -10.3rem;
    height: 1.3rem;
    width: 1.3rem;
    margin-right: 0.5rem; }

.icon-top {
  display: inline-block;
  background: url(background/css_sprites.png) no-repeat -1rem -1rem;
  height: 1rem;
  width: 1rem; }

.icon-bottom {
  display: inline-block;
  background: url(background/css_sprites.png) no-repeat -1rem -4rem;
  height: 1rem;
  width: 0.9rem; }

.border {
  height: 1.5rem;
  padding-left: 2rem;
  border-right: 3px solid #5fc0cd; }

.content1 {
  padding-left: 2rem; }

.content {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  padding-left: 4rem; }
  .content .price {
    color: red; }

.col {
  padding-right: 1rem;
  border-right: 1px solid #e1e5e7;
  color: grey; }

.col-after {
  width: 60%;
  margin-left: 2rem; }

.mid-content {
  padding-left: 1.3rem;
  color: #000; }

.right {
  padding-right: 1rem; }

.line-content {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: flex-start;
  padding-left: 2rem;
  color: grey; }
  .line-content .price {
    position: absolute;
    right: 6rem;
    top: 50%;
    transform: translateY(-50%);
    color: red; }
  .line-content .arc {
    position: absolute;
    right: 1rem;
    border: 1.2rem solid transparent;
    border-left: 1.2rem solid #5fc0cd;
    height: 0;
    width: 0; }
  .line-content .arc::after {
    float: right;
    display: inline-block;
    content: "";
    border: 1.2rem solid transparent;
    border-left: 1.2rem solid #fff;
    margin-top: -1.2rem;
    margin-right: -1rem; }

ul {
  list-style: none;
  margin: 0;
  padding: 0; }

.drop {
  font-size: 1.4rem;
  background: white;
  color: grey; }

.drop-title {
  position: relative;
  display: inline-block;
  width: 33.33333%;
  text-align: center;
  line-height: 3rem;
  box-sizing: border-box;
  border-bottom: 1px solid #e1e5e7; }
  .drop-title li {
    border-bottom: 1px solid #e1e5e7; }

.border-right {
  border-right: 1px solid #e1e5e7; }

.drop-content {
  display: none; }

.drop-title:hover .drop-content {
  display: block;
  position: absolute;
  top: 3rem;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #e1e5e7;
  background: #fff;
  z-index: 1; }

/*# sourceMappingURL=task12.css.map */
