html{
	height:100%;
	font-size:16px;
	color:white;
}
body{
	margin:0;
	height:100%;
}
header{
	background:#5fc0cd;
	position:fixed;
	top:0;
	width:100%;
	height:8%;
	z-index:1;
	}
.title{
	font-size:1rem;
	position:absolute;
	left:50%;
	top:50%;
	margin-left:-2.3rem;
	margin-top:-0.6rem;
	}
.arrow1,.arrow2{
	width:0;
	height:0;
	position:absolute;
	left:10px;
	top:50%;
	margin-top:-10px;
	border-right:20px white solid;
	border-top:10px transparent solid;
	border-bottom:10px transparent solid;
	border-left:10px transparent solid;
}
.arrow2{
	left:12px;
	border-right:20px #5fc0cd solid;
}
.picture{
	position:absolute;
	top:8%;
	width:100%;
	height:30%;
	background:url(background1.png) no-repeat 100%;
	background-size:100% 100%;
}
.name{
	font-size:0.75rem;
	position:absolute;
	left:8rem;
	top:50%;
	margin:0;
	margin-top:-1.2rem;
}
.name p{
	margin:0;
	line-height:1.5rem;
}
img{
	vertical-align:middle;
	padding-right:0.2rem;
}
.photo{
	width:4rem;
	height:5rem;
	position:absolute;
	left:2rem;
	top:50%;
	margin-top:-2.5rem;
	border:1px solid transparent;
	border-radius:50%;
	background:url(background2.png) no-repeat 100% 100%;
	background-size:100% 100%;
}
.content{
	font-size:0.75rem;
	color:black;
	position:absolute;
	top:38%;
	width:100%;
	height:60%;
}
.line{
	position:relative;
	margin:0;
	height:15%;
	box-sizing:border-box;
	padding-left:1rem;
	border-bottom:1px solid #e1e5e7;
}
.C{
	margin:0;
	position:absolute;
	top:50%;
	margin-top:-0.5rem;
	padding-left:0.5rem;
}
.A{
	margin:0;
	position:absolute;
	top:50%;
	margin-top:-0.5rem;
	padding-left:0.5rem;
	border-left:3px solid #5fc0cd;
}
.B{
	color:#aaaaaa;
	margin:0;
	position:absolute;
	top:50%;
	margin-top:-0.5rem;
	padding:0 0.5rem;
	border-right:1px solid #aaaaaa;
}
.B,.D{
	display:inline-block;
}
.D{
	margin:0;
	position:absolute;
	top:50%;
	margin-top:-0.5rem;
	padding-left:4.5rem;
	}
.line1{
	position:relative;
	margin:0;
	height:40%;
	box-sizing:border-box;
	padding-left:1rem;
	border-bottom:1px solid #e1e5e7;
}

footer{
	background:white;
	position:fixed;
	bottom:0;
	width:100%;
	height:10%;
}
.message{
	position:absolute;
	left:3.3%;
	top:10%;
	border-radius:3%;
	border:2px solid #5fc0cd;
	background:white;
	color:#5fc0cd
}
.tel{
	position:absolute;
	right:3.3%;
	top:10%;
	border:2px solid #5fc0cd;
	background:#5fc0cd;
	color:white;
	}
button{
	height:80%;
	width:45%;
}
.message a{
	color:#5fc0cd}
.tel a{
	color:white;}
a{
	text-decoration:none;}


	